*{
    margin: 0;
    padding: 0;
    font-family: "Depature","Fusion";
}

@font-face {
  font-family: "Depature";
  src: url(DepartureMono-Regular.woff2);
}
@font-face {
  font-family: "Fusion";
  src: url(fusion-pixel.woff2);
}

:root{
  --primary-color: #202222;
  --second-color: #191A1A;
}

textarea{
  resize: none;
  border: none;
  scrollbar-color: transparent transparent;
  
}

button{
	/* 清除默认边框 */
	border:0;
	outline:none;
   /*清除默认背景 */
   background-color: transparent;
	}

body{
    background: #202222;
    color: #FCFDF8;
}
  
@media only screen and (orientation: landscape) {
    body {
      /* background-color: lightblue; */
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #main{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #202222;
        border-radius: 1%;
        align-items: center;
    }
    #navigate{
        width: 30vmin;
        height: 100%;
        background-color: #202222;
        text-align: center;
    }
    #logo{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3vh;
    }
    #constructing{
      height: 80%;
      /* background-color: #fff; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: top;
    }
    #constructing>div{
      width: 90%;
      height: 5%;
      /* background-color: #8C9090; */
      transition: all 0.2s ease;
      border-radius: .8rem;
      margin-top: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: small;
    }
    #constructing>div:hover{
      background-color: #3C3E3F;
    }
    #container{
        width: calc(98% - 30vmin);
        height: 98%;
        background-color: #191A1A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }
    #searchwindow{
      margin-top: 4vh;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      width: min(80%,80vmin);
      height: 16%;
      background-color: var(--primary-color);
      border-radius: .2rem;
      border: .15rem solid #3C3E3F;
    }
    #searchwindow>form{
      width: 95%;
      height: 50%;
    }
    
    #userinput{
        color: #FCFDF8;
        width: 100%;
        height:80%;
        font-size: 16px;
        border: none;
        text-align: left; 
        vertical-align: top;
        background-color: var(--primary-color);
        outline: none;
    }
    #control{
      width: 100%;
      display: flex;
      /* background-color: aquamarine; */
      float: bottom;
      margin-top: 2vmin;
      height: 25%;
      justify-content: flex-end;
    }
    #settings, #search{
      display: flex;
      width: 50%;
    }

    #settings>svg{
      width: auto;
      height: 60%;
    }
    #search{
      align-items: right;
      justify-content: right;
    }
    .btn>svg{
      height:60%;
      width: 60%;
      margin-left: 1vmin;
    }
    .btn{
      display: flex;
      align-items: center;
      transition: all 0.4s ease;
      justify-self: center;
      border-radius: .5rem;
      justify-content: flex-end;
      height: auto;
      margin: .5vmin;
      color: #8C9090;
      cursor: pointer;
      font-size: small;
      user-select: none;
    }
    .btn:hover{
      background-color: #3C3E3F;
    }

    #searchbtn{
      background-color: #3C3E3F;
    }
    #searchbtn:hover{
      background-color: #8C9090;
      color: #FCFDF8;
    }
    #status{
      display: flex;
      justify-self: center;
      font-size: small;
      height: auto;
      width: auto;
      margin: .5vmin;
      margin-left: 0;
      
      justify-content: center;
      align-items: center;
      color: #3C3E3F;
      user-select: none;
    }

    #sync, #sync>svg{
      margin-right: 0;
    }


    #status>svg{
      height:60%;
      width: 60%;
      margin-left: .5vmin;
      color: salmon;
    }
    #results{
      background-color: #fff;
      width: min(80%,80vmin);
      height: 30%;
      visibility: hidden;
    }
  
  }
  @media only screen and (orientation: portrait) {
    body {
      background-color: salmon;
    }
  }


