<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static",filename="style.css")}}">
    <title>StarGazers: Search your starred repos</title>
</head>
<body>
    <div id="main">
        <div id="navigate">hihi</div>
        <div id="container">
            <h1>Which star you wanna gaze?</h1>
            <form>
                <label for="query"></label>
                <input type="text" id="userinput" name="query" placeholder="Search your repo:" required minlength="4" maxlength="8">
                <button type="submit">提交</button>
            </form>

        </div>
    </div>
</body>
</html>
